/*main.css*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: "/lib/Open_Sans/OpenSans-Semibold.ttf" format("truetype");
}


#gameArea {
    /*Size*/
    width: 800px;
    height: 400px;

    /*Position*/
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /*Style*/
	background: 
	linear-gradient(
		to right, 
		#ffffff 0%, 
		#ffffff 50%, 
		#E6E6E6 50%, 
		#E6E6E6 100%
	);
	border: 5px solid #000000;
	-webkit-transition: border 1000ms linear;
	-moz-transition: border 1000ms linear;
	-o-transition: border 1000ms linear;
	-ms-transition: border 1000ms linear;
	transition: border 1000ms linear;
}

#gameArea.demo {
	border: 5px solid #1B5F92;
	-webkit-transition: border 1000ms linear;
	-moz-transition: border 1000ms linear;
	-o-transition: border 1000ms linear;
	-ms-transition: border 1000ms linear;
	transition: border 1000ms linear;
}



.left-half {
	display: table-cell;
	position: absolute;
	left: 0px;
	width: 50%;
	height: 100%;
}

.right-half {
	position: absolute;
	display: table-cell;
	right: 0px;
	width: 50%;
	height: 100%;
}

.both-halves {
	position: absolute;
	display: table-cell;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.blocked {
   color: #c2c2c2 !important; /* The important overrides the settings from bootstrap */
   cursor: not-allowed;
}

.pane {
	padding: 1em;
	background: rgba(255,255,255,0);
}

.blue-fill {
	/*Opacity*/
	opacity: 0;
	-webkit-transition: opacity 1000ms ease;
	-moz-transition: opacity 1000ms ease;
	-o-transition: opacity 1000ms ease;
	-ms-transition: opacity 1000ms ease;
	transition: opacity 1000ms ease;

	background: #1B5F92;
}

.overlay-text {
	font-size: 2em;
	color: white;
	text-align: left;
}

.instructions {
	opacity: 0;
	-webkit-transition: opacity 1000ms ease;
	-moz-transition: opacity 1000ms ease;
	-o-transition: opacity 1000ms ease;
	-ms-transition: opacity 1000ms ease;
	transition: opacity 1000ms ease;
}

.instructions.show {
	opacity: 100;
	-webkit-transition: opacity 1000ms ease;
	-moz-transition: opacity 1000ms ease;
	-o-transition: opacity 1000ms ease;
	-ms-transition: opacity 1000ms ease;
	transition: opacity 1000ms ease;
}

img {
	opacity: inherit;
}

.signal {
	color: inherit;
	-webkit-transition: opacity 250ms ease-out;
	-moz-transition: opacity 250ms ease-out;
	-o-transition: opacity 250ms ease-out;
	-ms-transition: opacity 250ms ease-out;
	transition: opacity 250ms ease-out;
}

.signal.flash {
	color: #1B5F92;
	-webkit-transition: opacity 250ms ease-in;
	-moz-transition: opacity 250ms ease-in;
	-o-transition: opacity 250ms ease-in;
	-ms-transition: opacity 250ms ease-in;
	transition: opacity 250ms ease-in;
}

.stimulus {
	/*Hidden*/
	display: none;

	/*Positioning*/
	width: 50%;
	position: relative;
	top: 100;
	bottom: 100;
	left: 100;
	right: 100;
}